/*Fonts*/
@font-face {
    font-family: "Adobe Garamond Pro";
    src: url(../fonts/Adobe-Garamond-Pro.ttf);
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url(../fonts/Proxima-Nova-Bold.otf);
}
@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/Proxima-Nova-Regular.otf);
}
/*Background*/
.background-image{
    position:absolute;
    z-index:-100;
    min-width:100%;
    min-height:100%;
    height:100%;
    width:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Primary Menu */
.primary-navigation{
    position:fixed;
    height:100%;
    cursor:pointer;
    background-color: rgba(0, 0, 0, .7);
}
.primary-menu>ul{
    height:100%;
    margin:0;
    padding:0;
    list-style:none;
}
.primary-menu li{
    margin:auto;
    color:white;
    position: relative;
    width:100%;
}
.personal-icon{
    padding-top:5px;
    padding-left: 5px;
    margin-right:auto;
    margin-left:auto;
    width:80%;
    height:80%;
}
.margin-auto{
    padding-left:15px;
}
.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform:rotate(270deg);
    transform: rotate(270deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    text-transform: uppercase;
    height:20px;
}
.personal-icon-slideout{
    width:20%;
    height:20%;
}
@media(min-width: 768px){
    .primary-menu{
        font-family:"Century Gothic", sans-serif;
        height:100%;
    }
    .primary-navigation{
        right:auto;
        width:50px;
        z-index:100;
    }
    .menu-item-wrapper{
        font-size:9pt;
        height:24%;
    }
    .menu-icon{
        display:none;
    }
}
@media(max-width:768px){
    .personal-icon{
        display:none;
    }
    .menu-icon-wrapper{
        top:0;
        left:0;
        display:block;
    }
    .menu-icon{
        height:50px;
        width:40px;
        padding-left:10px;
        padding-right:5px;
    }
    .primary-navigation{
        height:auto;
    }
    .menu-item-wrapper{
        display:none;
    }

}


.slideout-menu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background: #3B3B3B;
    z-index: 100;
}
.slideout-menu .icon-wrapper {
    position: relative;
    padding: 12px 10px;
    color: #3B3B3B;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-block;
    padding: 6px 9px 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    background: #3B3B3B;
    color: #999;
    text-decoration: none;
    vertical-align: top;
}
.slideout-menu ul {
    list-style: none;
    font-weight: 300;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #454545;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
}
.slideout-menu ul li {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}
.slideout-menu ul li a:hover {
    background: #000;
    color: #fff;
}
.slideout-menu ul li a i {
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: .5;
}

/*Global CSS*/
.w80{
    width:80%;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
.button{
    width:175px;
    border:1px solid #FFFFFF;
    height:50px;
    margin-top:50px;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}
.button:hover{
    background-color:#FFFFFF;
    color: #000000;
    cursor:pointer;
}
.button-text{
    font-family: "Proxima Nova", "Century Gothic"; 
    margin:auto;
    padding-top:14px;
    text-align:center;
    font-size:15pt;
}
.menu-item-wrapper:hover{
    border-right: 1px solid #FFFFFF;
}
/*Home Page*/
.home-item-1{
    font-family: "Adobe Garamond Pro";
    color: #FFFFFF;
    width:80%;
    text-align:center;
}
.home-item-2{
    font-family:"Proxima Nova Bold";
    color: #FFFFFF;
    text-align:center;
}
@media(min-width: 768px){
    .home-content-wrapper{
        margin-left: 50px;
    }
    .home-item-1{
        font-size: 23pt;
    }
    .home-item-2{
        font-size: 35pt;
        min-height:20%;
    }
}
@media(max-width:768px){
}
































