/*Fonts*/
@font-face {
    font-family: "Adobe Garamond Pro Italic";
    src: url(../fonts/Adobe-Garamond-Pro-Italic.ttf);
}
@font-face {
    font-family: "Adobe Garamond Pro";
    src: url(../fonts/Adobe-Garamond-Pro-Regular.ttf);
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url(../fonts/Proxima-Nova-Bold.otf);
}
@font-face {
    font-family: "Proxima Nova Italic";
    src: url(../fonts/Proxima-Nova-Italic.ttf);
}
@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/Proxima-Nova-Regular.otf);
}
body{
    font-family:"Proxima Nova";
}
/*Background*/
.background-image{
    position:absolute;
    z-index:-100;
    min-width:100%;
    min-height:100%;
    height:100%;
    width:100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Primary Menu */
.primary-navigation{
    z-index:100;
    position:fixed;
    height:100%;
    cursor:pointer;
    background-color: rgba(0, 0, 0, .7);
}
.primary-menu>ul{
    height:100%;
    margin:0;
    padding:0;
    list-style:none;
}
.primary-menu li{
    margin:auto;
    color:white;
    position: relative;
    width:100%;
}
.personal-icon{
    padding-top:5px;
    padding-left: 5px;
    margin-right:auto;
    margin-left:auto;
    width:80%;
    height:80%;
}
.margin-auto{
    padding-left:15px;
}
.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform:rotate(270deg);
    transform: rotate(270deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    text-transform: uppercase;
    height:20px;
}
.personal-icon-slideout{
    width:20%;
    height:20%;
}
@media(min-width: 960px){
    .primary-menu{
        font-family:"Century Gothic", sans-serif;
        height:100%;
    }
    .primary-navigation{
        right:auto;
        width:50px;
        z-index:100;
    }
    .menu-item-wrapper{
        font-size:9pt;
        height:24%;
    }
    .menu-icon{
        display:none;
    }
}
@media(max-width:960px){
    .personal-icon{
        display:none;
    }
    .menu-icon-wrapper{
        top:0;
        left:0;
        display:block;
    }
    .menu-icon{
        height:50px;
        width:40px;
        padding-left:10px;
        padding-right:5px;
    }
    .primary-navigation{
        height:auto;
    }
    .menu-item-wrapper{
        display:none;
    }

}


.slideout-menu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background: #3B3B3B;
    z-index: 100;
}
.slideout-menu .icon-wrapper {
    position: relative;
    padding: 12px 10px;
    color: #3B3B3B;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 4px solid #222;
}
.slideout-menu .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-block;
    padding: 6px 9px 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    background: #3B3B3B;
    color: #999;
    text-decoration: none;
    vertical-align: top;
}
.slideout-menu ul {
    list-style: none;
    font-weight: 300;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #454545;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
}
.slideout-menu ul li {
    border-top: 1px solid #454545;
    border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
}
.slideout-menu ul li a:hover {
    background: #000;
    color: #fff;
}
.slideout-menu ul li a i {
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: .5;
}

/*Global CSS*/

/* unvisited link */
a:link {
    color: #000000;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
    text-decoration:none;
}

/* selected link */
a:active {
    color: #000000;
    text-decoration:none;
}

.w80{
    width:80%;
}
.w60{
    width:60%;
}
.center{
    margin-left:auto;
    margin-right:auto;
}
.button{
    width:175px;
    border:1px solid #FFFFFF;
    height:50px;
    margin-top:30px;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}
.button:hover{
    background-color:#FFFFFF;
    color: #000000;
    cursor:pointer;
}
.button-text{
    font-family: "Proxima Nova", "Century Gothic"; 
    margin:auto;
    padding-top:14px;
    text-align:center;
    font-size:15pt;
}
.button2{
    width:90px;
    border:1px solid #000000;
    height:30px;
    margin-top:25px;
    color: #000000;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}
.button2:hover{
    background-color:#000000;
    opacity:0.7;
    color: #FFFFFF;
    cursor:pointer;
}
.button2-text{
    font-family: "Proxima Nova", "Century Gothic"; 
    margin:auto;
    text-align:center;
    font-size:7pt;
    padding-top:10px;
}
.menu-item-wrapper:hover{
    border-right: 3px solid #21d8ff;
}
.thin-row{
    padding-top:15px;
}
.row{
    padding-top:50px;
    padding-bottom:50px;
}
.highlight{
    border-right: 3px solid #21d8ff;
}
/*Home Page*/
.my-picture{
    height:100px;
    width:100px;
}
.my-picture-wrapper{
    height:100px;
    width:100px;
    padding-bottom:50px;
}
.home-item-1{
    font-family: "Adobe Garamond Pro Italic";
    color: #FFFFFF;
    width:80%;
    text-align:center;
}
.home-item-2{
    font-family:"Proxima Nova Bold";
    color: #FFFFFF;
    text-align:center;
}
@media(min-width: 768px){
    .home-content-wrapper{
        margin-left: 50px;
    }
    .home-item-1{
        font-size: 23pt;
    }
    .home-item-2{
        font-size: 35pt;
        min-height:20%;
    }
}
@media(max-width: 768px){
    .home-item-2{
        min-height:13%;
        font-size:20pt;
    }
    .home-item-1{
        font-size: 15pt;
    }
    .my-picture-wrapper{
        padding-bottom:20px;
    }
}

/*My Projects*/
.page-title{
    font-family: "Adobe Garamond Pro";
    font-size:40pt;
    text-align:center;
    padding-top:35px;
}
.project-title{
    font-family: "Adobe Garamond Pro";
    text-transform: uppercase;
    padding-top:30px;
    font-size:30pt;
}
.divider{
    padding-top:50px;
    border-bottom:1px solid #e0e0e0;
}
.project-image{
    display:block;
    height:300px;
    width:300px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.nodejs{
    height:300px;
}
.connect4{
    height:250px;
}
.project-image-wrapper{
    position:relative;
    margin-top:50px;
    margin-bottom:50px;
}
.image-description{
    position:absolute;
}
.image-description-wrapper{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.text-overlay{
    position:absolute;
    z-index:-5;
    text-align:center;
    font-family:"Proxima Nova";
}
.one-line{
}
.project-text-jarvis{
    padding-top:20px;
}
.project-text-draw{
    padding-top:20px;
}
.project-text-connect-4{
    padding-top:15px;
}
@media(min-width: 768px){
    .project-wrapper{
        margin-left: 50px;
    }
    .project-content-wrapper{
        width:80%;
        margin:auto;
    }
    .text-overlay{
        margin-left:20%;
        margin-right:20%;
        display:none;
    }
    .button-container{
        width:80%;
    }

}
@media(max-width:1000px){
    .button-container{
        width:100%;
    }
}
@media(max-width: 768px){
    .text-overlay{
        z-index:5;
        margin-left:10%;
        margin-right:10%;
    }
    .project-image{
        opacity:0.2;
    }
    .divider{
        margin-left:auto;
        margin-right:auto;
        width:80%;
    }
    .button-container{
        width:85%;
    }
    .project-content{
        margin-left:10%;
        margin-right:10%;
    }
}

/*Interests Page*/
.interests-image-wrapper{
    padding-top:50px;
}

/*Resume Page*/
.button3{
    width:250px;
    border:1px solid #000000;
    height:50px;
    margin-top:45px;
    color: #000000;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}
.button3:hover{
    background-color:#000000;
    opacity:0.7;
    color: #FFFFFF;
    cursor:pointer;
}
.button3-text{
    font-family: "Proxima Nova", "Century Gothic"; 
    margin:auto;
    text-align:center;
    font-size:15pt;
    padding-top:13px;
}

/*Experience*/

.experience-wrapper{
}
.bold{
    font-family: "Proxima-Nova-Bold"!important;
    font-weight: bold;
}
.red{
    color: #df4244;
    font-family: "Proxima-Nova-Regular";
}
.italic{
    font-family: "Proxima-Nova-Italic";
    font-style: italic;
}
.place{
    font-family:"Proxima-Nova-Regular";
    color: #a8a8a8;
}
.time{
    font-family:"Proxima-Nova-Regular";
    color:#444;
}
.job-description{
    font-family:"Open Sans";
    color:#a8a8a8;
    font-size:11pt;
}
@media(min-width: 768px){
    .job-description{
        width:80%;
    }
}

@media(max-width: 768px){
    .sm-hide{
        display:none;
    }
    .sm-space{
        margin-top:25px;
    }
    .experience-wrapper{
        padding-left:10px;
        padding-right:10px;
    }
}

/*Contact*/
@media(min-width: 768px){
    .image-wrapper{
        padding-top:50px;
        width:150px;
        padding-bottom:50px;
    }
    .email-image{
        width:160px;
        height:160px;
    }
    .linkedin-image{
        width:150px;
        height:150px;
    }
    .github-image{
        width:150px;
        height:150px;
    }
}
@media(max-width: 768px){
    .image-wrapper{
        padding-top:25px;
        width:50px;
        padding-bottom:25px;
    }
    .email-image{
        width:55px;
        height:55px;
    }
    .linkedin-image{
        width:50px;
        height:50px;
    }
    .github-image{
        width:50px;
        height:50px;
    }
}













